{#
   This file is part of the RedKiteLabsThemeEngineBundle and it is distributed
   under the MIT License. In addiction, to use this bundle, you must leave
   intact this copyright notice.

    Copyright (c) RedKite Labs <webmaster@redkite-labs.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.redkite-labs.com

   @license    MIT License
#}

{% extends base_template %}

{% set domain = "al_themes" %}
{% block body %}
<div id="al_themes">
    <table width=100% id="al_themes_table">
      <tr id="al_themes_sections">
        {% include 'RedKiteCmsBundle:Themes:theme_panel_sections.html.twig' with {'values': values} %}
      </tr>
    </table>
</div>
{% endblock %}