{% block images %}
<div class="rk-images-list-panel">
    <div class="rk-images-contents pull-left">
        {% include "RedKiteCmsBundle:List:Image/_list.html.twig" with { 'images': editor.items, 'form_name' : editor.form_name } %}
    </div>
    <div class="rk-images-attributes pull-right">
        {% include "TwitterBootstrapBundle:Editor:Slider/item.html.twig" %}
    </div>    
    <div class="clearfix"></div>
</div>    
{% endblock %}