{% extends "AlphaLemonCmsBundle:Editor:base_editor.html.twig" %}

{% block body %}
<div {{ editor|raw }}>
    <ul class="nav collapsed-list al-menu-list">
    {% include "MenuBundle:Content:_menu_items.html.twig" %}
    </ul>
</div>
{% endblock %}
