{% for block_name, block_value in blocks %}
    {% if block_value|keys  %}
    <li class="dropdown-submenu">
        <a tabindex="-1" href="#">{{ block_name }}</a>
        <ul class="dropdown-menu">
            {% include "AlphaLemonCmsBundle:Cms:AvailableBlocks/available_blocks.html.twig" with {'blocks': block_value} %}
        </ul>
    </li>
    {% else %}   
        {% if block_value != "menu-divider" %}
        <li><a tabindex="-1" href="#" rel="{{ block_name }}" class="al_context_menu_item">{{ block_value }}</a></li>
        {% else %}
        <li class="divider"></li>
        {% endif %}
    {% endif %}
{% endfor %}
