{% extends "AlphaLemonCmsBundle:Editor:base_editor.html.twig" %}

{% block body %}
<div class="row bottom-space" {{ editor|raw }}>
    <div class="span3 center-align">
        {% set baseSlotName = block_manager.get.getId ~ "-0" %} 
        {{ renderIncludedBlock(baseSlotName, block_manager, 'Image', true) }}      
    </div>
    <div class="span7">
        {% set baseSlotName = block_manager.get.getId ~ "-1" %} 
        {{ renderIncludedBlock(baseSlotName, block_manager, 'Text', true) }}      
    </div>
</div>
{% endblock %}
