{#
   This file is part of the RedKiteCmsBunde Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) RedKite Labs <webmaster@redkite-labs.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.redkite-labs.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'RedKiteCmsBundle:Themes:Base/base.html.twig' %}

{% block theme_panel %}
<td valign="top" width="50%">
    {% if values.active_theme  is defined %}
    <div id="al_active_theme_information">
    {% include 'RedKiteCmsBundle:Themes:Panel/theme_skeleton.html.twig' with {'theme_values': values.active_theme} %}
    </div>
    {% else %}
        <p><b>{{ "Any active theme has been define" | trans([], domain) }}</b></p>
        <p>Choose the active theme from the right panel</p>
    {% endif %}
</td>
<td valign="top" width="50%">
    <div class="al_theme_panel_section">
        {% if values.available_themes is defined and values.available_themes.themes|length > 0 %}
        <div id="al_available_themes_information">
        <table >
            {% for item in values.available_themes.themes %}
            <tr><td valign="top">{% include 'RedKiteCmsBundle:Themes:Panel/theme_skeleton.html.twig' with {'theme_values': item} %}</td></tr>
            {% endfor %}
        </table>
        </div>
        {% else %}
          <p><b>{{ "Any other theme is installed at the moment" | trans([], domain) }}</b></p>
        {% endif %}
    </div>
</td>
{% endblock %}