<div class="al-available-blocks-menu al_blocks_list al_floating_panel">
    <div>
        <p><strong>Available blocks</strong></p>
        <ul class="al-available-blocks-list">
        </ul>
    </div>
    <div>
        <a class="al_close_block_menu btn btn-default pull-right">{{ 'common_label_close'|trans({}, 'RedKiteCmsBundle', cms_language) }}</a>
    </div>    
</div>
