/web/bundles/*
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/*
/app/config/parameters.ini
/nbproject/*
/*~
/app/*.bak
/app/config/*.bak
/app/Resources/.active_theme*
/app/config/*_rkcms*
/app/config/*_stage*
/app/config/bundles/
/app/propel
/composer.lock
/web/rkcms*
/web/stage*
