default:
    paths:
        features: features/cms
    formatter:
        name: pretty
        parameters:
            verbose: true
            paths: false
            snippets: false
    context:
        class: RedKiteLabs\RedKiteCms\RedKiteCmsBundle\Behat\FeatureContext
    extensions:
        Behat\MinkExtension\Extension:
            default_session: symfony2
            goutte: ~
            selenium2: ~
            browser_name: firefox
        Behat\Symfony2Extension\Extension:
            mink_driver: true
            #bundle: RedKiteCmsBundle
            kernel:
                path: app/RedKiteCmsAppKernel.php
                class: RedKiteCmsAppKernel
                env: rkcms_test
                debug: false
mysql:
    paths:
        features: features/install/mysql
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://rkcms/app.php

postgres:
    paths:
        features: features/install/postgres
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://rkcms/app.php

sqlite:
    paths:
        features: features/install/sqlite
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://rkcms/app.php

cms:
    paths:
        features: features/cms
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://rkcms/rkcms.php/backend