default:
    paths:
        features: features/cms
    formatter:
        name: pretty
        parameters:
            verbose: true
            paths: false
            snippets: false
    context:
        class: RedKiteLabs\RedKiteCms\RedKiteCmsBundle\Behat\FeatureContext
    extensions:
        Behat\MinkExtension\Extension:
            default_session: symfony2
            goutte: ~
            selenium2: ~
            browser_name: firefox
        Behat\Symfony2Extension\Extension:
            mink_driver: true
            kernel:
                path: app/AppKernel.php
                class: AppKernel
                env: test
                debug: true
mysql:
    paths:
        features: features/install/mysql
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://localhost/app_dev.php

pgsql:
    paths:
        features: features/install/postgres
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://localhost/app_dev.php

sqlite:
    paths:
        features: features/install/sqlite
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://localhost/app_dev.php

cms:
    paths:
        features: features/cms
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://localhost/rkcms_dev.php/backendmink_driver: true
        
        Behat\Symfony2Extension\Extension:
            kernel:
                path: app/RedKiteCmsAppKernel.php
                class: RedKiteCmsAppKernel
                env: rkcms_test
                debug: true
