<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit colors="true" bootstrap="Tests/bootstrap.php" >

    <testsuites>
        <testsuite name="AlphaLemonCmsBundle Test Suite">
            <directory suffix="Test.php">Tests/Unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>Resources</directory>
                <directory>Tests</directory>
                <directory>vendor</directory>
                <directory>Propel/map</directory>
                <directory>Propel/om</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
