{% extends 'AlphaLemonCmsBundle:Item:_languages_support.html.twig' %}

{% form_theme form 'AlphaLemonCmsBundle:Item:_form_label.html.twig'  %}

{% block content %}
{% set translation_domain = cms_language ~ '_bundles' %}
<form id="al_item_form">
    <table>
        {% include "AlphaLemonCmsBundle:Item:_form_renderer.html.twig" %}
        <tr>
            <td colspan="3" style="text-align: right">
                <a class="al_editor_save btn btn-primary" href="#" >{{ 'Save'|trans({}, cms_language ~ '_common', cms_language) }}</a>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
