{% for item in items %}
    {% if item.children is defined and item.children|length > 0 %}
    <li class="dropdown-submenu">
        <a tabindex="-1" href="#">{{ item.data }}</a>
        <ul class="dropdown-menu">
            {% include "TwitterBootstrapBundle:Editor:DropdownButton/_dropdown_items.html.twig" with {'items': item.children} %}
        </ul>
    </li>
    {% else %}   
        {% if item.metadata.type is defined and item.metadata.type == 'divider' %}
        <li class="divider"></li>
        {% else %}
            {% if item.metadata.type is defined %}
            <li><a href="{{ item.metadata.href }}">{{ item.data }}</a></li>
            {% else %}
            <li><a href="#">{{ item.data }}</a></li>
            {% endif %} 
        {% endif %} 
    {% endif %}
{% endfor %}
