
    <h1>Login</h1>


    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path("_login_check") }}" method="post" id="login">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" />
        </div>
        
        <div>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">Remember me</label>
        </div>
        
        <input type="submit" class="symfony-button-grey" value="LOGIN" />
    </form>
