
    <h1>Login</h1>


    {# if error %}
        <div class="error">{{ error.message }}</div>
    {% endif #}

    <form action="{{ path("_login_check") }}" method="post" id="login">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" value="{# last_username #}" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" />
        </div>

        <input type="submit" class="symfony-button-grey" value="LOGIN" />
    </form>
