<div class="al_items_list">
    <table>
    {% for role in roles %}
        <tr class="{{ cycle(['alternate_row', 'row'], loop.index) }}"><td width="100%">{{ role.role }}</td><td><a href="#" rel="{{ role.id }}" class="al_edit_role">Edit</a></td><td><a href="#" class="al_delete_role" rel="{{ role.id }}">Delete</a></td></tr>
    {% endfor %}
    </table>
</div>
<div class="al_security_commands_box">
    <ul>
        <li><input type="submit" value="New" class="al_add_role input button al_large" /></li>
        <li><input type="submit" value="Users" class="al_list_users input button al_large" /></li>
    </ul>
</div>