<form class="al_security_form">
    <div id="al_user_data">
    {{ form_widget(form) }}
    </div>
</form>

<a href="#" id="al_save_user">Save</a>
<a href="#" class="al_list_users">List</a>

<script>
    $('#al_save_user').click(function() {
      $.ajax({
          type: 'POST',
          url: frontController + 'backend/users/' + $('#al_available_languages').val() + '/al_saveUser',
          data: {'id' : $('#al_user_id').val(),
                 'al_username' : $('#al_user_username').val(),
                 'al_password' : $('#al_user_password').val(),
                 'al_email' : $('#al_user_email').val(),
                 'al_role_id' : $('#al_user_AlRole').val(),
             },
          beforeSend: function()
          {
            $('body').AddAjaxLoader();
          },
          success: function(html)
          {
            $('#al_security_dialog').html(html);
            ObserveSecurity();
          },
          error: function(err)
          {
            $('#al_error').html(err.responseText);
          },
          complete: function()
          {
            $('body').RemoveAjaxLoader();
          }
      });
      
      return false;
    });
    
    $('.al_list_users').ListUsers();
</script>
