<div data-title="File editor" rel="popover" data-html="true" data-content='{% include "FileBundle:Editor:_editor.html.twig" %}' class="al_inline_editable popover-zindex">
{% include 'FileBundle:Content:file.html.twig' with { 'max_length' : 500 } %}
</div>

