{#
   This file is part of the AlphaLemonCMS InstallerBundle and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'AlphaLemonCmsInstallerBundle:Installer:base.html.twig' %}

{% block external_stylesheets %}
<link href="{{ asset('bundles/alphalemoncmsinstaller/css/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<div id="al_background_basement">
    <div id="al_background_image">
        <div id="al_contents">
            {% block contents %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
