/* 
    Document   : link_editor
    Created on : 12-nov-2013, 6.30.05
    Author     : alphalemon
    Description:
        Purpose of the stylesheet follows.
*/

.rk-href { 
    width: auto;
    min-width: 200px;
}

