
    

<form id="al_role_form">
    <div id="al_role_data">
    {{ form_widget(form) }}
    </div>
</form>

<a href="#" id="al_save_role">Save</a>
<a href="#" class="al_list_roles">List</a>
<div id="al_error"></div>

<script>
    $('#al_save_role').click(function() {
      $.ajax({
          type: 'POST',
          url: frontController + $('#al_available_languages').val() + '/al_saveRole',
          data: {'id' : $('#al_role_id').val(),
                 'al_rolename' : $('#al_role_role').val(),
             },
          beforeSend: function()
          {
            $('body').AddAjaxLoader();
          },
          success: function(html)
          {
            $('#al_dialog').html(html);
            ObserveSecurity();
          },
          error: function(err)
          {
            $('#al_error').html(err.responseText);
          },
          complete: function()
          {
            $('body').RemoveAjaxLoader();
          }
      });
      
      return false;
    });
    
    $('.al_list_roles').ListRoles();
</script>
