<div class="al_security_list">
    <h2>Users</h2>
    <table class="table">
        <thead>
            <th>Username</th>
            <th>Email</th>
        </thead>
    {% for user in users %}
        <tr>
            <td width="50%">{{ user.username }}</td>
            <td width="30%">{{ user.email }}</td>
            <td><a href="#" rel="{{ user.id }}" class="al_edit_user">Edit</a></td>

            <td>
                {% if(user.id != app.security.getToken().getUser().getPrimaryKey()) %}
                <a href="#" class="al_delete_user" rel="{{ user.id }}">Delete</a>
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
<div class="al_security_commands_box">
    <ul class="inline pull-right">
        <li><input type="submit" value="New" class="al_add_user btn btn-primary" /></li>
        <li><input type="submit" value="Roles" class="al_list_roles btn btn-info" /></li>
    </ul>
    <div class="clearfix"></div>
</div>