{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'AlphaLemonElFinderBundle:ElFinder:show.html.twig' %}

{% block stylesheet_files %}
{% if enable_yui_compressor is defined and enable_yui_compressor %}
    {% stylesheets filter='?yui_css,cssrewrite'
        'bundles/alphalemonelfinder/vendor/ElFinder/css/elfinder.css'
        'bundles/alphalemonelfinder/vendor/ElFinder/css/theme.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% else %}
    {% stylesheets filter='cssrewrite'
        'bundles/alphalemonelfinder/vendor/ElFinder/css/elfinder.css'
        'bundles/alphalemonelfinder/vendor/ElFinder/css/theme.css'
    %}
    <script src="{{ asset_url }}"></script>
    {% endstylesheets %}
{% endif %}
{% endblock %}

{% block javascript_files %}
{% if enable_yui_compressor is defined and enable_yui_compressor %}
    {% javascripts filter='?yui_js'
        'bundles/alphalemonelfinder/vendor/ElFinder/js/elfinder.min.js'
    %}
    {# javascripts filter='?yui_js'
        'bundles/alphalemonelfinder/vendor/ElFinder/vendor/jquery-ui.min.js'
        'bundles/alphalemonelfinder/vendor/ElFinder/js/elfinder.min.js'
    #}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% else %}
    {% javascripts
        'bundles/alphalemonelfinder/vendor/ElFinder/vendor/jquery-ui.min.js'
        'bundles/alphalemonelfinder/vendor/ElFinder/js/elfinder.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endif %}
{% endblock %}

{% block elfinder_html %}
<div id="elfinder">Please wait while the Media Library is loading...</div>
<input id="al_file" type="hidden" />
{% endblock %}
