<div>
    <div class="al_row_title">
        <h3>Link attributes</h3>
    </div>
    <div class="al_row_item">        
        <form class="form-inline">
            Item type
            <select id="al_item_type" class="input-mini">
                <option value="link">link</option>
                <option value="divider">divider</option>
            </select>
        </form>
    </div>
    <div class="al_row_item">
        <form class="form-inline">
            Link
            <span class="al_pages_selector"></span>
            <input id="al_link" type="text" class="input-medium" />
        </form>
    </div>
</div>

<style>
    .al_row_title h3 {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
    }
    
    #jstree_item {
        width: 300px;
    }
</style>

<script>
    $(document).ready(function() {        
        $("#jstree").on("select_node.jstree", function (e, data) {
            $('#al_link').val(data.rslt.obj.data('href'));
            $('#al_item_type').val(data.rslt.obj.data('type'));
            $('#al_page_name').val('');
        });
        
        $('#al_item_type').on('change', function(){
            var type = $('#al_item_type option:selected').val()
            if (type == 'divider') {
                $('#al_link').val('-');
                $("#jstree").jstree('set_text', $('#jstree').jstree('get_selected') , '-' );
            }
            if (type == 'link' && $('#al_link').val() == '-') {
                $('#al_link').val('');
                $("#jstree").jstree('set_text', $('#jstree').jstree('get_selected') , 'New Item' );
            }
            saveAttributes();

            return false;
        }); 
        
        $('#al_page_name')
            .unbind()
            .on('change', function(){
                $('#al_link').val($('#al_page_name option:selected').val());
                saveAttributes();
                
                return false;
            })
            .appendTo('.al_pages_selector')
            .show();
        ;

        $('#al_link').on('keyup', function(){
            saveAttributes();
        });
    });
    
    function saveAttributes() {
        $('#jstree').jstree('get_selected').data('type', $('#al_item_type option:selected').val()).data('href', $('#al_link').val());
    }
</script>
