{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'AlphaLemonCmsBundle:Block:base_editor.html.twig' %}

{% block html_editor %}
<div>
    <div class="al_images_list">
        {% if images_editor_template is defined %}
        {% include images_editor_template with {'alContent' : alContent } %}
        {% else %}
        {% include 'AlphaLemonCmsBundle:Block:Images/images_list.html.twig' with {'alContent' : alContent } %}
        {% endif %}
    </div>
    <div class="al_images_selector_commands">
        <input class="al_add_images btn btn-primary" type="submit" value="Add images" />
        <input class="al_remove_images btn btn-danger" type="submit" value="Remove images" />
    </div>
</div>

<script type="text/javascript">
        $('.al_add_images').ShowExternalFilesManager('images');
        $('.al_remove_images').RemoveImage();
</script>
{% endblock %}
