{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

<div class="images_contents pull-left">
    {% set i = 1 %}
    {% for item in alContent.getContentForEditor %}
    {% if i == 1 %}
    <ul class="thumbnails"> 
    {% endif %}
        <li class="span2">
            <a id="{{ item.id }}" href="#" class="thumbnail al_img {title: '{% if item.title is defined %}{{ item.title }}{% endif %}', alt: '{% if item.alt is defined %}{{ item.alt }}{% endif %}'}">
                <img src="{{ item.image }}" alt="" />
            </a>
        </li>  
    {% if i == 4 %}
    </ul>
    {% set i = 0 %}
    {% endif %}
    {% set i = i + 1 %}
    {% endfor %}
</div>
<div class="pull-right">
    <div>
        <div>
            <label for="al_img_title">Title</label>
            <input id="al_img_title" value="" class="al_img_attribute" />
        </div>
        <div>
            <label for="al_img_alt">Alt</label>
            <input id="al_img_alt" value="" class="al_img_attribute" />
        </div>
        <div>
            <button id="al_save_attributes" class="btn btn-primary">Save attributes</button>
        </div>
    </div>
</div>    
<div class="clearfix"></div>
  
<script type="text/javascript">
    $(document).ready(function(){
        $('.al_img').click(function()
        {
            var attributes;
            if ($(this).data('attributes') == null) {
                var savedAttributes = $(this).metadata();
                attributes = {
                    title: savedAttributes.title, 
                    alt: savedAttributes.alt
                };
                $(this).data('attributes', attributes);
            } else {
                attributes = $(this).data('attributes');
            }
            
            $('#al_img_title').val(attributes.title);
            $('#al_img_alt').val(attributes.alt);
            
            var isCurrentItemSelected = $(this).hasClass('al_img_selected');
            $('.al_img').removeClass('al_img_selected');
            if(!isCurrentItemSelected) $(this).addClass('al_img_selected');

            return false;
        });
        
        $('.al_img_attribute').on('keyup', function(){
            saveAttributes();
        });
        
        $('#al_save_attributes').on('click', function(){
            var i = 0;
            var values = new Array();
            $('.al_img').each(function(){                
                var savedAttributes = $(this).data('attributes');
                if (savedAttributes == null) {
                    savedAttributes = $(this).metadata();
                }
                    
                var attributes = {
                    image: $(this).find('img').attr('src'),
                    title: savedAttributes.title, 
                    alt: savedAttributes.alt
                };

                values[i] = attributes;
                i += 1;
            });console.log(JSON.stringify(values));
            
            $('body').EditBlock("Content", JSON.stringify(values));
        });
    });
    
    function saveAttributes() { 
        var image = $('.al_img_selected'); 
        if (image.data('attributes') == null) {
            return;
        }
        
        var attributes = {
            title: $('#al_img_title').val(), 
            alt: $('#al_img_alt').val()
        };
        
        image.data('attributes', attributes);
    }
</script>
