{#
   This file is part of the BusinessSliderBundle and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% if form_name is not defined %}
{% set form_name = "al_item_form" %}
{% endif %}

<div>
    {% block form %}
    <form id="{{ form_name }}" action="#" method="post" {{ form_enctype(form) }}>
        <table class="al_editor_table">
            {% include "AlphaLemonCmsBundle:Block:Json/_form_renderer.html.twig" %}
        </table>
    </form>
    {% endblock %}
</div>
<div>
    {% block commands %}
    <input type="submit" class="al_save_item btn btn-primary" value="Save" />
    {% endblock %}
</div>
<div id="al_save_item_errors"></div>

{% block script %}
<script>
    $('.al_save_item').click(function()
    {
        $('#al_item_form').EditBlock('Content', $('#al_item_form').serialize());
        if ( $("#al_json_block_id").val() == "") $('#al_item_form').ResetFormElements();

        return false;
    });
</script>
{% endblock %}