<div class="thumbnail">
    {% set blockSlotName = baseSlotName ~ "-0" %}  
    {{ renderIncludedBlock(blockSlotName, parent, "Image", true) }}
    <div class="caption">
        {% set blockSlotName = baseSlotName ~ "-1" %} 
        {{ renderIncludedBlock(blockSlotName, parent, "Text", true) }}
    </div>
    <div class="widget-footer">
        {% set blockSlotName = baseSlotName ~ "-2" %}   
        {{ renderIncludedBlock(blockSlotName, parent, "BootstrapButtonBlock", true) }}
    </div>
</div>
