<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "true"
    syntaxCheck                 = "false"
    bootstrap                   = "bootstrap.php.cache" >

    <testsuites>
        <testsuite name="RedKite Sandbox Test Suite">
            <directory>../src/RedKiteLabs/RedKiteCms/RedKiteCmsBundle/Tests</directory>
            <directory>../src/RedKiteLabs/RedKiteCms/BootstrapBundle/Tests</directory>
            <directory>../src/RedKiteCms/Block/RedKiteCmsBaseBlocksBundle/Tests</directory>
            <directory>../src/RedKiteCms/Block/TinyMceBlockBundle/Tests</directory>
            <directory>../src/RedKiteCms/Block/TwitterBootstrapBundle/Tests</directory>
            <directory>../src//RedKiteLabs/ThemeEngineBundle/Tests</directory>
            <directory>../vendor/redkite-cms/tinymce-block-bundle/RedKiteCms/Block/TinyMceBlockBundle/Tests</directory>
            <directory>../vendor/redkite-cms/twitter-bootstrap/RedKiteCms/Block/TwitterBootstrapBundle/Tests</directory>
            <directory>../vendor/redkite-labs/redkite-labs-theme-engine-bundle/RedKiteLabs/ThemeEngineBundle/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="BOOTSTRAP_CLEAR_CACHE_ENV" value="test"/>
    </php>

    <filter>
        <whitelist>
            <directory>../src</directory>
            <exclude>
                <directory>../src/*/*Bundle/Resources</directory>
                <directory>../src/*/*Bundle/Tests</directory>
                <directory>../src/*/Bundle/*Bundle/Resources</directory>
                <directory>../src/*/Bundle/*Bundle/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
