<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "true"
    syntaxCheck                 = "false"
    bootstrap                   = "bootstrap.php.cache" >

    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="display_errors" value="On"/>

        <env name="BOOTSTRAP_CLEAR_CACHE_ENV" value="test"/>
    </php>

    <testsuites>
        <testsuite name="RedKite CMS Test Suite">
            <!--<directory>../src/RedKiteCms/Block/*/Tests/</directory>
            <directory>../src/RedKiteCms/Theme/*/Tests/</directory>
            <directory>../src/RedKiteLabs/ThemeEngineBundle/Tests/</directory>
            <directory>../src/RedKiteLabs/RedKiteCms/BootstrapBundle/Tests/</directory>-->
            <directory>../src/RedKiteLabs/RedKiteCms/RedKiteCmsBundle/Tests</directory>
            <!-- TODO: Enable InstallerBundle tests -->
            <!--<directory>../src/RedKiteLabs/RedKiteCms/InstallerBundle/Tests/</directory>-->
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../src/RedKiteLabs/</directory>
            <directory>../src/RedKiteCms/</directory>
            <exclude>
                <directory>../src/RedKiteLabs/RedKiteCms/*/Tests</directory>
                <directory>../src/RedKiteLabs/RedKiteCms/ElFinderBundle</directory>
                <directory>../src/RedKiteLabs/RedKiteCms/InstallerBundle</directory>
                <directory>../src/RedKiteLabs/RedKiteCms/RedKiteCmsBundle/Model</directory>
                <directory>../src/RedKiteLabs/RedKiteCms/RedKiteCmsBundle/Command/Update</directory>
                <directory>../src/RedKiteCms/Theme</directory>
                <directory>../src/RedKiteCms/Block/BootbusinessBlockBundle</directory>
                <directory>../src/RedKiteLabs/ThemeEngineBundle/Tests</directory>
                <directory>../src/RedKiteCms/Block/*/Tests</directory>
                <directory>../src/RedKiteCms/Theme/*/Tests</directory>
                <directory>../src/RedKiteLabs/RedKiteCms/*/Resources</directory>
                <directory>../src/RedKiteLabs/ThemeEngineBundle/Resources</directory>
                <directory>../src/RedKiteCms/Block/*/Resources</directory>
                <directory>../src/RedKiteCms/Theme/*/Resources</directory>
                <directory>../src/RedKiteLabs/RedKiteCmsBundle/Propel/map</directory>
                <directory>../src/RedKiteLabs/RedKiteCmsBundle/Propel/om</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
