{% if items|length > 0 %}
{% for key, item in items %}
    {% set baseKey = block_manager.get.getId ~ "-" ~ key %}    
    {% if item.blockType != 'BootstrapNavbarDropdownBlock' %}
    <li{% if block_manager.getEditorDisabled == false %} data-item="{{ key }}" data-slot-name="{{ baseKey }}"{% endif %}>{{ renderIncludedBlock(baseKey, block_manager, item.blockType, true) }}</li>
    {% else %}
    {% set attributes = 'data-item=' ~ key %}
    {{ renderIncludedBlock(baseKey, block_manager, item.blockType, true, '', attributes) }}
    {% endif %}
{% endfor %}
{% else %}
    <li class="al-empty">Any link added</li>
{% endif %}
