{% extends "RedKiteCmsBundle:Editor:base_editor.html.twig" %}

{% block body %}
<div class="inline-list" {{ editor|raw }}>
    <ul class="al-menu-list">
    {% include "RedKiteCmsBaseBlocksBundle:Content:Menu/_menu_items.html.twig" %}
    </ul>
</div>
{% endblock %}
