 {#
   This file is part of the RedKiteCmsBunde Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) RedKite Labs <webmaster@redkite-labs.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.redkite-labs.com

   @license    GPL LICENSE Version 2.0
#}

{% set login_route = route is defined ? route : "_login_check" %}  


<form action="{{ path(login_route) }}" method="post" id="login" class="form-horizontal" role="form">
    <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
            <input type="text" id="username" name="_username" value="{{ last_username }}"  placeholder="Username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input type="password" id="password" name="_password"  placeholder="Password">
        </div>
        </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </div>
        
    {% if target is defined %}
    <input type="hidden" name="_target_path" value="{{ target }}" />
    {% endif %}
</form>