{% extends 'RedKiteCmsBundle:Item:_languages_support.html.twig' %}

{% block content %}
<div>
    <textarea id="al_html_editor" name="al_html_editor" class="editor-textarea">{{ editor.blockManager.get.Content }}</textarea>
</div>
<div class="pull-right">
    <input id="al_html_saver" type="submit" value = "{{ 'Save'|trans({}, 'AlphaLemonCmsBundle', cms_language) }}" class="btn btn-primary" />
</div>
<div class="clearfix"></div>    
{% endblock %}
