{% block stylesheet_files %}
    {% stylesheets filter='cssrewrite'
        'bundles/redkitelabselfinder/vendor/ElFinder/vendor/jquery-ui.css'
        'bundles/redkitelabselfinder/vendor/ElFinder/css/elfinder.min.css'
        'bundles/redkitelabselfinder/vendor/ElFinder/css/theme.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascript_files %}
    {% javascripts
        'bundles/redkitelabselfinder/vendor/ElFinder/vendor/jquery.min.js'
        'bundles/redkitelabselfinder/vendor/ElFinder/vendor/jquery-ui.min.js'
        'bundles/redkitelabselfinder/vendor/ElFinder/js/elfinder.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block init_script %}
<script type="text/javascript" charset="utf-8">
    $().ready(function() {
        var f = $('#finder').elfinder({
            url : '/al_elFinderConnect',
            lang : 'en'
        })
    })
</script>
{% endblock %}

{% block elfinder_html %}
<div id="finder">finder <span>here</span></div>
{% endblock %}
