<div data-title="Script editor" rel="popover" data-html="true" data-content='{% include "ScriptBundle:Editor:_editor.html.twig" %}' class="al_inline_editable popover-zindex">
{% include 'AlphaLemonCmsBundle:Block:base_block.html.twig' with { 'block': blockManager.get } %}
</div>

