{% extends 'RedKiteCms/Resources/views/Block/base_block.html.twig' %}

{% set editor_id = "rkcms-icon-stacked-editor" %}

{% block custom_element %}
    <script type="text/html" id="rkcms-icon-stacked">
        <rkcms-icon-stacked params='{ block: $data, parent: $parent }'></rkcms-icon-stacked>
    </script>
{% endblock %}

{% block block_element %}
    <span data-bind="element: target, dynamicAttr: tags, foreach: children, event: { mouseenter: highlight, mouseleave: hide }, attr: { 'data-type': type, 'data-name': name, 'data-slot-name': slotName}, click: startBlockEditing">
        <rkcms-icon params='{ block: $data, parent: $parent }'></rkcms-icon>
    </span>
    <!-- ko text:value --><!-- /ko -->
{% endblock %}
    
{% block block_editor_title %}
{{ 'stacked_icon_editor_title'|trans({}, 'RedKiteCms', cms_language) }}
{% endblock %}