{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code. 

   For extra documentation and help please visit http://www.alphalemon.com 

   @license    GPL LICENSE Version 2.0
#}

{% set domain = "al_themes" %}

<td valign="top" width="50%">
    <div>
    {% include theme_skeleton with {'theme_values': values.active_theme} %}
    </div>
    <div>
    {% include 'AlphaLemonCmsBundle:Valum:show.html.twig' with {'options': valum, 'is_windows': is_windows} %}
    </div>
</td>
<td valign="top" width="50%">
    <div class="al_theme_panel_section"> 
        {% if values.available_themes is defined and values.available_themes.themes|length > 0 %}        
        <table>
            {% for item in values.available_themes.themes %}
            <tr><td valign="top">{% include theme_skeleton with {'theme_values': item} %}</td></tr>
            {% endfor %}
        </table>
        {% else %}
          <p><b>{{ "Any other theme is installed at the moment" | trans([], domain) }}</b></p>
        {% endif %}
    </div>
</td>