{% extends 'BootbusinessThemeBundle:Theme:base/base.html.twig' %}

{% use 'BootbusinessThemeBundle:Slots:slots.html.twig' %}


{% block contents %}
<div class="content">
  <div class="container">
    <div class="page-header">
        {{ block('page_title') }} 
    </div>
    <div class="row-fluid">
        {{ block('content') }} 
    </div>
  </div>
</div>
{% endblock %}
