{% extends 'SimpleTheme/Resources/views/base/base.html.twig' %}

{% block post_external_stylesheets %}
    {{ parent() }}
    <link href="/plugins/simpletheme/css/home.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}    
    <div class="container">
        <div class="row">
            <div class="col-md-12">{{ slots.internal|default('')|raw }}</div>
        </div>
    </div>
{% endblock %}