{% extends 'SimpleTheme/Resources/views/base/base.html.twig' %}

{% block content %}    
    <div class="container">
        <div class="row">
            <div class="col-md-12">{{ slots.full_column_top|default('')|raw }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ slots.left_column|default('')|raw }}</div>
            <div class="col-md-6">{{ slots.right_column|default('')|raw }}</div>
        </div>
    </div>
{% endblock %}