{% block body %}
<div class="container-fluidaa">
{% for imagesRow in images %}
<div class="row-fluid">
<ul class="thumbnails"> 
{% for image in imagesRow %}
    <li class="span4">
        {% set attributes = "" %}
        {% for name, value in image %}
        {% set attributeName = 'data-' ~ form_name ~ '_' ~name %}
        {% set attributes = attributes ~ attributeName ~ '=' ~ value|escape('url') ~ ' ' %}
        {% endfor %}
        
        <a href="#" class="thumbnail al_img" {{ attributes }}>
            {% include "RedKiteCmsBaseBlocksBundle:Content:Image/image.html.twig" with {"image" : image } %}
        </a>
    </li>  
{% endfor %}
</ul>
        </div>
{% endfor %}
</div>
{% endblock %}
