{% extends 'RedKiteLabsThemeEngineBundle:Frontend:base.html.twig' %}

{% block external_stylesheets %}
    {% stylesheets  filter='?yui_css,cssrewrite' 'components/redkitecms/twitter-bootstrap/3.x/css/bootstrap.min.css' 
                                                 'bundles/redkitelabsthemeengine/css/unpublished.css'
    %}   
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="all" />
    {% endstylesheets %}
{% endblock %}


{% block body %}
<div id="header">    
    <div class="container">
        <div class="row">
            <div id="logo"
                <p><img src="/bundles/redkitelabsthemeengine/images/logo-home.png" alt="" width="388" height="96" /></p>
            </div>
        </div>        
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
            <h1>Page under construction</h1>
            <p>
                This page is still under construction and it is not available for the audience yet.
            </p>
            <p>
                Come back early and visit again this page to get the information you are looking for.
            </p>
            <hr/>
            <p class="note">
                Developer note:<br />
                This page can be easily overriden as explained in the <a href="http://symfony.com/doc/current/book/templating.html#overriding-bundle-templates">Symfony2 book</a>.
            </p>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <a href="http://redkite-labs.com">Powered by RedKite CMS</a>
        </div>
    </div>
</div>
{% endblock %}