{% extends 'RedKiteCms/Resources/views/Block/base_block.html.twig' %}

{% set editor_id = "rkcms-script-editor" %}

{% block custom_element %}
    <script type="text/html" id="rkcms-script">
        <rkcms-script params='{ block: $data, parent: $parent }'></rkcms-script>
    </script>
{% endblock %}

{% block block_element %}
    <div class="rkcms-block rkcms-script" data-bind="element: target, event: { mouseenter: highlight, mouseleave: hide }, attr: {  'data-type': type, 'data-name': name, 'data-slot-name': slotName}, click: startBlockEditing" >
        <!-- ko if: isScriptExecuted -->
        <div data-bind="html: html"></div>
        <!-- /ko -->

        <!-- ko ifnot: isScriptExecuted -->
        {{ 'script_disabled' | trans({}, 'RedKiteCms') }}
        <!-- /ko -->
    </div>
{% endblock %}
    
{% block block_editor_title %}
    {{ 'script_editor_title'|trans({}, 'RedKiteCms', cms_language) }}
{% endblock %}

{% block block_editor_toolbar %}{% endblock %}