body {
  color: #414141;
  background-color: white;
  font: normal 16px/24px Arial, Verdana, Helvetica, sans-serif;
}

#al_contents {
  width: 800px;
  background-color: white;
  margin: 20px auto;
}

#al_contents h1, #al_contents h2 {
  padding: 0;
  margin: 6px 0;
}

#al_contents h1 {
  font: bold 26px/28px Arial, Verdana, Helvetica, sans-serif;
}

#al_contents h2 {
  font: bold 22px/24px Arial, Verdana, Helvetica, sans-serif;
}

.rklogo {
  margin-right: 8px;
}

.rkinfo-img {
  margin-left: 8px;
}
