{#
   This file is part of the RedKiteCmsBunde Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) RedKite Labs <webmaster@redkite-labs.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.redkite-labs.com

   @license    GPL LICENSE Version 2.0
#}

{% form_theme form 'RedKiteCmsBundle:Bootstrap:' ~ bootstrap_version ~ '/FormTheme/forms.html.twig' %}

{% set panel_class = 'al_panel_contents_width' %}   

<div class="panel-container">
    <div id="al_sidebar_left" class="pull-left pages-left panel-column">
        {% include 'RedKiteCmsBundle:Languages:languages_list.html.twig' %}
    </div>
    <div id="al_sidebar_right" class="pull-right pages-right panel-column">
        <div>        
            <h2>{{ "languages_controller_language_attribute" | trans({}, 'RedKiteCmsBundle', cms_language) }}</h2>
            <form id="al_languages_form">
                {{ form(form) }}
            </form>
        </div>
        <div>
            <input id="al_language_saver" type="submit" value="{{ "common_label_save"|trans({}, 'RedKiteCmsBundle', cms_language) }}" class="btn btn-primary" />       
        </div>
    </div>
    <div class="clearfix"></div>
</div>