{#
   This file is part of the RedKiteCmsBunde Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) RedKite Labs <webmaster@redkite-labs.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.redkite-labs.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'RedKiteLabsThemeEngineBundle:Frontend:base.html.twig' %}

{% block external_stylesheets %}
    {% stylesheets  filter='?yui_css,cssrewrite' 'components/redkitecms/twitter-bootstrap/3.x/css/bootstrap.min.css'
                                                 'bundles/redkitecms/css/skins/bootstrap/skin.css' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="all" />
    {% endstylesheets %}
{% endblock %}
    
{% block body_tag %}<body class="black-bg">{% endblock %}

{% block body %}
    <div id="rk-container" class="box-centered"> 
        <img src="/bundles/redkitecms/css/skins/bootstrap/images/login-logo.png"  />

        <div id="rk-signin-form">
            {% include('RedKiteCmsBundle:Bootstrap:3.x/Security/Login/login-form-base.html.twig') %}
        </div>
        {% if error %}
            <div class="text-error">{{ error }}</div>
        {% endif %}
    </div>
{% endblock %}
