{% block block_menu %}
<div class="rkcms-block-menu rkcms-block-menu-wrapper rkcms-block-menu-top"></div>
<div class="rkcms-block-menu rkcms-block-menu-wrapper rkcms-block-menu-bottom"></div>
<div class="rkcms-block-menu rkcms-block-menu-wrapper rkcms-block-menu-left"></div>
<div class="rkcms-block-menu rkcms-block-menu-wrapper rkcms-block-menu-right"></div>

<div class="rkcms-block-menu rkcms-block-menu-active rkcms-active-block-menu-top"></div>
<div class="rkcms-block-menu rkcms-block-menu-active rkcms-active-block-menu-bottom"></div>
<div class="rkcms-block-menu rkcms-block-menu-active rkcms-active-block-menu-left"></div>
<div class="rkcms-block-menu rkcms-block-menu-active rkcms-active-block-menu-right"></div>
{% endblock %}