{% extends 'RedKiteCms/Resources/views/Editor/_dialogbox.html.twig' %}

{% block close_button %}
    <a href="#" class="rkcms-control-panel-close" data-bind="click: toggle"><i class="fa fa-times"></i></a>
{% endblock %}