{#
   This file is part of the RedKiteLabsThemeEngineBundle and it is distributed
   under the GPL LICENSE Version 2.0. In addiction, to use this bundle, you must leave
   intact this copyright notice.

    Copyright (c) RedKite Labs <webmaster@redkite-labs.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

<p>{{ message | raw }}</p>
