<a class="btn btn-default" data-bind="click: toggleEditor, visible: toolbar.indexOf('preview') != -1 && $data.mode() == 'inplace'" href="#">
    <i data-bind="{ 'attr': {'class': $data.isEditing() ? 'fa fa-eye' : 'fa fa-pencil' } }"></i>
</a>