<a class="btn btn-default" data-bind="click: changeMode, clickBubble: false, visible: toolbar.indexOf('toggle-editor') != -1 && $data.isEditing()" href="#">
    <i data-bind="{ 'attr': {'class': $data.mode()=='inline' ? 'fa fa-star' : 'fa fa-star-o' } }"></i>
</a>