<div class="pull-left rkcms-left-toolbar">
    <div class="btn-group">
    {% include 'RedKiteCms/Resources/views/Editor/Toolbar/_insert_image_button.html.twig' %}
    {% include 'RedKiteCms/Resources/views/Editor/Toolbar/_insert_link_button.html.twig' %}
    {% include 'RedKiteCms/Resources/views/Editor/Toolbar/_insert_icon_button.html.twig' %}
    {% include 'RedKiteCms/Resources/views/Editor/Toolbar/_insert_icon_stacked_button.html.twig' %}
    {% include 'RedKiteCms/Resources/views/Editor/Toolbar/_insert_icon_linked_button.html.twig' %}
    </div>
    {% include 'RedKiteCms/Resources/views/Editor/Toolbar/_permalinks_selector.html.twig' %}
</div>
<div class="btn-group pull-right rkcms-right-toolbar">
    {% include 'RedKiteCms/Resources/views/Editor/Toolbar/_preview_button.html.twig' %}
    {% include 'RedKiteCms/Resources/views/Editor/Toolbar/_toggle_editor_button.html.twig' %}
</div>
<div class="clearfix"></div>