<div rel="popover" data-html="true" data-content='{% include "LinkBundle:Editor:_editor.html.twig" %}' class="al_inline_editable popover-zindex">
    {% include "LinkBundle:Content:link.html.twig" %}
</div>
