{% extends "RedKiteCmsBundle:Editor:base_editor.html.twig" %}

{% block body %}
<div {{ editor|raw }}>
    <ul class="nav nav-pills al-menu-list">    
    {% include "MenuBundle:Content:_menu_items.html.twig" %}
    </ul>
</div>
{% endblock %}
