{% set list_inline = "list-inline" %}
{% set small_button = "btn-sm" %}
{% set small_input = "form-control input-sm" %}
{% set mini_input = "form-control input-xs" %}
{% set trash_icon = '<span class="glyphicon glyphicon-trash"></span>' %}
{% set page_icon = '<span class="glyphicon glyphicon-star-empty glyphicon-white"></span>' %}


{% block body %}
{% endblock %}