{#
   This file is part of the BusinessSliderBundle and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) RedKite Labs <webmaster@redkite-labs.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.redkite-labs.com

   @license    GPL LICENSE Version 2.0
#}

{% extends "RedKiteCmsBundle:Block:Editor/Translation/_translation.html.twig" %}

{% block content %}
<div>
    {% include "RedKiteCmsBundle:Block:Editor/Form/_form_renderer.html.twig" with {'form_id' : 'al_item_attributes_form'} %}
</div>
<div class="pull-right">
    {% block commands %}
    <input id="al_add_item" type="submit" class="btn btn-default" value="{{ 'common_label_new'|trans({}, 'RedKiteCmsBundle', cms_language) }}" />
    <input id="al_save_item" type="submit" class="btn btn-primary" value="{{ 'common_label_save'|trans({}, 'RedKiteCmsBundle', cms_language) }}" />
    {% endblock %}
</div>
<div id="al_save_item_errors"></div>
{% endblock %}
