{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% if items is not defined %}
{% set items = alContent.getContentForEditor %}
{% endif %}

{% set form_name = form.getName %}
{% block images %}
<div class="images_list">
    <div class="images_contents pull-left">
        {% include "AlphaLemonCmsBundle:Images/_list.html.twig" with { 'images': items } %}
    </div>
    <div class="images_attributes pull-right">
        {% include "AlphaLemonCmsBundle:Item:_item.html.twig" %}
    </div>    
    <div class="clearfix"></div>  
</div>
{% endblock %}
