{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}
{% set tabs = 0 %}
{% if editor_settings.html_editor is defined and editor_settings.html_editor == true %}
{% set showHtmlEditor = true %}
{% set tabs = tabs + 1 %}
{% else %}
{% set showHtmlEditor = false %}
{% endif %}

{% if editor_settings.rich_editor is defined and editor_settings.rich_editor == true %}
{% set showRichEditor = true %}
{% set tabs = tabs + 1 %}
{% else %}
{% set showRichEditor = false %}
{% endif %}

{% if editor_settings.internal_js is defined and editor_settings.internal_js == true %}
{% set showInternalJsEditor = true %}
{% set tabs = tabs + 1 %}
{% else %}
{% set showInternalJsEditor = false %}
{% endif %}

{% if editor_settings.external_js is defined and editor_settings.external_js == true %}
{% set showExternalJsEditor = true %}
{% set tabs = tabs + 1 %}
{% else %}
{% set showExternalJsEditor = false %}
{% endif %}

{% if editor_settings.internal_css is defined and editor_settings.internal_css == true %}
{% set showInternalCssEditor = true %}
{% set tabs = tabs + 1 %}
{% else %}
{% set showInternalCssEditor = false %}
{% endif %}

{% if editor_settings.external_css is defined and editor_settings.external_css == true %}
{% set showExternalCssEditor = true %}
{% set tabs = tabs + 1 %}
{% else %}
{% set showExternalCssEditor = false %}
{% endif %}

<div id="al_editor_tabs">    
    
    {% if tabs > 1 %}
    <ul class="nav nav-tabs" id="myTab">
        {% if showHtmlEditor or showRichEditor %}<li class="active"><a href="#al-editor-tab-1" data-toggle="tab">Html Code</a></li>{% endif %}
        {% if showInternalJsEditor %}<li><a href="#al-editor-tab-2" data-toggle="tab">Int. Js</a></li>{% endif %}
        {% if showExternalJsEditor  %}<li><a href="#al-editor-tab-3" data-toggle="tab">Ext. Js</a></li>{% endif %}
        {% if showInternalCssEditor  %}<li><a href="#al-editor-tab-4" data-toggle="tab">Int. Css</a></li>{% endif %}
        {% if showExternalCssEditor  %}<li><a href="#al-editor-tab-5" data-toggle="tab">Ext. Css</a></li>{% endif %}
    </ul>
    {% endif %}

    <div class="tab-content">
        {% if showHtmlEditor or showRichEditor  %}
        <div id="al-editor-tab-1" class="tab-pane active">
            {% block html_editor %}
            <textarea id="al_html_editor" name="al_html_editor" class="editor-textarea">{{ blockManager.get.Content }}</textarea>
            <input id="al_html_saver" type="submit" value = "Save" class="btn btn-primary" />
            {% endblock %}
        </div>
        {% endif %}

        {% if showInternalJsEditor %}
        <div id="al-editor-tab-2" class="tab-pane">
            {% block internal_javascript_editor %}
            <div class="editor-contents">
                <textarea id="al_internal_javascript" class="editor-textarea">{{ blockManager.getInternalJavascript(false) }}</textarea>
            </div>
            <div class="editor-commands">
                <input id="al_internal_javascript_saver" type="submit" value = "Save" class="btn btn-primary" />
            </div>
            {% endblock %}
        </div>
        {% endif %}

        {% if showExternalJsEditor  %}
        <div id="al-editor-tab-3" class="tab-pane">
            {% block external_javascript_editor %}
            {% include 'AlphaLemonCmsBundle:Block:external_files_editor.html.twig' with {'section' : 'Javascript', 'value' : blockManager.get.getExternalJavascript, 'files' : jsFiles } %}
            {% endblock %}
        </div>
        {% endif %}

        {% if showInternalCssEditor %}
        <div id="al-editor-tab-4" class="tab-pane">
            {% block internal_stylesheet_editor %}
            <div class="editor-contents">
                <textarea id="al_internal_stylesheet" class="editor-textarea">{{ blockManager.getInternalStylesheet }}</textarea>
            </div>
            <div class="editor-commands">
                <input id="al_internal_stylesheet_saver" type="submit" value = "Save" class="btn btn-primary" />
            </div>
            {% endblock %}
        </div>
        {% endif %}

        {% if showExternalCssEditor  %}
        <div id="al-editor-tab-5" class="tab-pane">
            {% block external_stylesheet_editor %}
            {% include 'AlphaLemonCmsBundle:Block:external_files_editor.html.twig' with {'section' : 'Stylesheet', 'value' : blockManager.get.getExternalStylesheet, 'files' : cssFiles } %}
            {% endblock %}
        </div>
        {% endif %}
    </div>

    {% if blockManager.getReloadSuggested  %}
    <div class="text-error" style="margin-top: 10px">
        <strong>Warning: After adding or editing this kind of block, a page reload might be required, to properly display it</strong>
    </div>
    {% endif %}
</div>

{# block static_header_javascripts %}
<script type="text/javascript">
    {% if showRichEditor == false or showHtmlEditor  %}
    $("#al_html_saver").click(function()
    {
        $("#al_html_editor").EditBlock("Content");
    });
    {% endif %}

    {% if showInternalJsEditor  %}
    $("#al_internal_javascript_saver").click(function()
    {
        $("#al_internal_javascript").EditBlock("InternalJavascript");
    });
    {% endif %}

    {% if showInternalCssEditor  %}
    $("#al_internal_stylesheet_saver").click(function()
    {
        $("#al_internal_stylesheet").EditBlock("InternalStylesheet");
    });
    {% endif %}
</script>
{% endblock #}
