{#
   This file is part of the AlphaLemon CMS Application and it is distributed
   under the GPL LICENSE Version 2.0. To use this application you must leave
   intact this copyright notice.

   Copyright (c) AlphaLemon <webmaster@alphalemon.com>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.

   For extra documentation and help please visit http://www.alphalemon.com

   @license    GPL LICENSE Version 2.0
#}

{% extends 'AlphaLemonCmsBundle:Block:base_editor.html.twig' %}

{% block html_editor %}
<div class="editor_contents al_images_list">
    {% include 'AlphaLemonCmsBundle:Block:images_list.html.twig' with {'alContent' : alContent } %}
</div>
<div class="al_images_selector_commands">
    <input class="input button al_add_images" type="submit" value="Add images" />
    <input class="input button al_remove_images" type="submit" value="Remove images" />
</div>

<script type="text/javascript">
        $('.al_add_images').ShowExternalFilesManager('images');
        $('.al_remove_images').RemoveImage();
</script>
{% endblock %}
