.ajax_loader {
  left: 0;
  display: none;
  position: absolute;
  background-image: url(images/common/ajax-loader.gif);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 125001;
}

.ajax_loader_bg {
  left: 0;
  display: none;
  position: absolute;
  background-image: url(images/common/bg-ajax-loader.png);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 125000;
}

.al_float_left {
  float: left;
}

.al_float_right {
  float: right;
}

.al_float_clear {
  clear: both;
}

.al_error {
  font-weight: bold;
  color: red;
}

.al_success {
  font-weight: bold;
  color: green;
}

.al_success_big {
  font: bold 20px/24px Arial, Verdana, Helvetica, sans-serif;
  color: green;
}

.al_autoclose {
  font-weight: bold;
  margin-top: 40px;
}

.al_hidden {
  display: none;
}

#al_cms_contents {
  width: 100%;
  margin: 0 auto;
  margin-top: 43px;
}

.al_edit_on {
  border: 1px dotted red;
  min-height: 20px;
}

.al_highlight_content {
  background-color: #cccccc;
}

#al_cms_background_basement {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: #76f1ff url(images/cms/bg.png) top center repeat-x;
  padding: 0;
  margin: 0;
}

#al_cms_background_image {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent url(images/cms/al_bg.jpg) top center no-repeat;
}

#al_cms_background {
  width: 600px;
  min-height: 400px;
  margin: 120px auto;
  padding: 8px 16px;
  font: bold 16px/20px Arial, Verdana, Helvetica, sans-serif;
  font-weight: normal;
  color: #525252;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: #666666 6px 6px 6px;
  -moz-box-shadow: #666666 6px 6px 6px;
  box-shadow: #666666 6px 6px 6px;
}
#al_cms_background p {
  margin: 0;
  margin-bottom: 6px;
}
#al_cms_background h1 {
  font: bold 24px/28px Arial, Verdana, Helvetica, sans-serif;
}

#al_toolbar {
  width: 100%;
  height: 36px;
  position: fixed;
  top: 0;
  left: 0;
  background: #333333;
  text-align: left;
  z-index: 100000;
  padding: 4px;
  border-bottom: 2px solid white;
  color: #cccccc;
  font: normal 14px/16px Arial, Verdana, Helvetica, sans-serif;
}
#al_toolbar .al_boxes_margins {
  margin-right: 20px;
}
#al_toolbar table {
  margin: 0;
  padding: 2px;
}
#al_toolbar td {
  margin: 0;
  padding: 4px;
  padding-top: 8px;
  min-width: 10px;
}
#al_toolbar select {
  margin-top: -4px;
}

.toolbar-nav ul {
  padding: 0;
  margin: 0;
  margin-top: 1px;
}
.toolbar-nav li {
  display: inline;
  padding: 6px;
  margin: 0;
}
.toolbar-nav li:hover {
  background-color: #4f4f4f;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.toolbar-nav a {
  color: white;
  text-decoration: none;
}
.toolbar-nav a:hover {
  text-decoration: none;
}

.toolbar-nav-item {
  display: inline;
  padding: 6px;
  margin: 0;
}
.toolbar-nav-item a {
  color: white;
  text-decoration: none;
}
.toolbar-nav-item a:hover {
  text-decoration: none;
}

#al_menu {
  padding: 0;
}

.input, .textarea {
  display: inline-block;
  height: 24px;
  padding: 2px;
  font-size: 13px;
  line-height: 18px;
  color: #929292;
  border: 1px solid #cccccc;
  background-color: white;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.select, .button {
  background-color: #efefef;
}

.button {
  color: #525252;
}

.textarea {
  width: 250px;
  height: 130px;
}

#al_panel {
  width: 100%;
  position: fixed;
  top: 43;
  left: 0;
  background: white;
  text-align: left;
  display: none;
  z-index: 900;
}
#al_panel p {
  padding: 0;
  margin: 0 0 6px 0;
  font: inherit;
}

#al_panel_body {
  border-bottom: 1px solid #525252;
}

#al_panel_contents {
  margin: 0 auto;
  width: 1000px;
  font: normal 14px/18px Arial, Verdana, Helvetica, sans-serif;
  color: #525252;
  margin-bottom: 10px;
}
#al_panel_contents td {
  vertical-align: top;
}
#al_panel_contents h1, #al_panel_contents h2, #al_panel_contents h3, #al_panel_contents h4 {
  padding: 0;
  margin: 0 0 6px 0;
  color: #525252;
}
#al_panel_contents h1 {
  font: bold 24px/28px Arial, Verdana, Helvetica, sans-serif;
}
#al_panel_contents h2 {
  font: bold 20px/24px Arial, Verdana, Helvetica, sans-serif;
}
#al_panel_contents h3 {
  font: bold 16px/20px Arial, Verdana, Helvetica, sans-serif;
}
#al_panel_contents h4 {
  margin: 0;
  font: bold 14px/18px Arial, Verdana, Helvetica, sans-serif;
}
#al_panel_contents .panel_input {
  height: auto;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 2px;
  -webkit-box-shadow: #999999 3px 3px 3px;
  -moz-box-shadow: #999999 3px 3px 3px;
  box-shadow: #999999 3px 3px 3px;
}
#al_panel_contents .al_panel_note {
  font: italic normal 10px/12px Arial, Verdana, Helvetica, sans-serif;
}

#al_panel_closer {
  width: 100%;
  height: 16px;
  background-color: #cccccc;
  padding: 2px 0 6px 0;
  font: bold 16px/20px Arial, Verdana, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  color: #333333;
  border-top: 1px solid white;
  border-bottom: 3px solid #525252;
}

#al_panel_header {
  width: 100%;
}

#al_sidebar_right a {
  text-decoration: none;
}
#al_sidebar_right .al_element_selector {
  font-weight: normal;
  color: #000099;
}
#al_sidebar_right .al_element_selected {
  font-weight: bold;
  color: #ff9900;
}

#al_sidebar_middle {
  width: 400px;
  min-height: 400px;
  overflow: auto;
  padding: 0 10px;
  float: left;
}
#al_sidebar_middle h3 {
  padding: 0;
  margin: 0;
  float: left;
}
#al_sidebar_middle .al_btn_add_content {
  float: right;
}
#al_sidebar_middle .al_contents_separator {
  text-align: right;
  border-bottom: 1px dotted #525252;
  margin-bottom: 6px;
}
#al_sidebar_middle .al_content_body {
  display: none;
}
#al_sidebar_middle .al_slot_name {
  cursor: pointer;
}

#al_sidebar_right {
  width: 250px;
  min-height: 400px;
  padding: 0 10px;
  float: right;
}

.al_panel_box {
  border: 1px solid #525252;
  -webkit-box-shadow: #999999 3px 3px 3px;
  -moz-box-shadow: #999999 3px 3px 3px;
  box-shadow: #999999 3px 3px 3px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin: 10px 0;
}

.al_panel_box h3 {
  border-bottom: 1px solid #525252;
  background-color: #afafaf;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  padding: 2px;
  margin: 0;
}

.al_panel_list {
  max-height: 304px;
  overflow: auto;
  padding: 2px;
  margin-bottom: 10px;
}

#al_select_languages_reminder {
  display: none;
  font-weight: bold;
  color: #990000;
}

#al_pages {
  overflow: auto;
}

.al_panel_contents_width {
  margin: 0 auto;
  width: 700px;
}

.al_items_list ul, .al_commands_box ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
.al_items_list ul li, .al_commands_box ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}
.al_items_list li, .al_commands_box li {
  margin-right: 6px;
}

.al_commands_box {
  padding: 4px;
}

.al_items_list {
  border: 2px solid #cccccc;
  overflow: auto;
  margin-bottom: 10px;
}
.al_items_list li {
  border-bottom: 1px dotted #a5a5a5;
}
.al_items_list table {
  width: 100%;
}
.al_items_list td {
  padding: 6px;
}
.al_items_list .row {
  background-color: white;
}
.al_items_list .alternate_row {
  background-color: #f3f5f5;
}
.al_items_list .al_selected_item {
  background-color: #d5dbdb;
}

.al_images_list {
  border: 2px solid #cccccc;
  padding: 6px;
  height: 450px;
  max-height: 450px;
  overflow: auto;
}
.al_images_list .al_image {
  float: left;
  padding: 2px;
}
.al_images_list .al_image img {
  border: 5px solid #c9c9c9;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -ms-border-radius: 6px 6px 6px 6px;
  -o-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}
.al_images_list .al_image_selected img {
  border: 5px solid #ff9900;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -ms-border-radius: 6px 6px 6px 6px;
  -o-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}

.al_images_selector_commands {
  padding: 6px;
}

.ui-dialog {
  font: normal 12px/14px Arial, Verdana, Helvetica, sans-serif !important;
  text-align: left !important;
}

.ui-widget-overlay {
  z-index: 120000;
}

.editor_contents {
  width: 98%;
  height: 286px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.editor_inputs {
  width: 100%;
  height: 284px;
}

.al_editor_table td {
  padding: 4px;
}

#al_themes {
  margin-top: 10px;
  padding: 6px;
}
#al_themes table {
  margin: 0;
  padding: 2px;
}
#al_themes td {
  padding: 2px;
}
#al_themes h1, #al_themes h2 {
  margin: 0;
  padding: 0;
}
#al_themes h1 {
  font: bold 24px/28px Arial, Verdana, Helvetica, sans-serif;
}
#al_themes h2 {
  font: bold 20px/24px Arial, Verdana, Helvetica, sans-serif;
  margin-top: 10px;
}
#al_themes .link_button {
  padding: 4px 14px 0;
  text-decoration: none;
  margin-right: 4px;
}
#al_themes .al_theme_panel_section {
  max-height: 450px;
}

#al_available_themes_information {
  height: 430px;
  overflow: auto;
}

#al_theme_fixer {
  margin: 0 auto;
  padding: 4px;
  font: normal 14px/18px Arial, Verdana, Helvetica, sans-serif;
  color: #666666;
}
#al_theme_fixer div {
  padding: 4px;
}
#al_theme_fixer .al_label {
  font-weight: bold;
}

#al_pages_to_fix_list {
  width: 100%;
  padding: 0 !important;
  margin: 0;
  max-height: 300px;
  overflow: auto;
}
#al_pages_to_fix_list .al_assigned_template {
  width: 200px;
}
#al_pages_to_fix_list div {
  padding: 2px;
}

#al_activate_button_container {
  width: 50%;
  margin: 0 auto;
  margin-top: 14px;
}
#al_activate_button_container .al_large {
  width: 100%;
  height: 32px;
  padding: 6px;
}

#al_active_theme {
  width: 250px;
  height: 500px;
  padding: 10px;
  background-color: white;
  color: #525252;
  position: fixed;
  top: 47px;
  z-index: 101000;
  overflow: auto;
  font-style: normal;
  display: none;
}

#al_slots {
  width: 100%;
  min-height: 480px;
  margin-top: 10px;
}
#al_slots table {
  margin: 0;
}
#al_slots td {
  margin: 0;
  font-style: normal 14px/16px Arial, Verdana, Helvetica, sans-serif;
  line-height: 16px;
}

.al_active_templates_caption {
  font-style: italic;
  margin-right: 6px;
}

.al_slot_active {
  border: 1px dotted #c20000;
}

.al_slot_mapped {
  border: 2px dotted #669933;
}

.al_slot_assigned {
  color: #999999;
  font-style: italic;
}

.al_caption {
  font-weight: bold;
  margin: 6px 0;
}

.al_current_theme {
  margin: 0;
}

#al_current_theme, #al_current_template {
  font-style: italic;
}

#al_login_form {
  margin-top: 0;
  padding: 20px;
}
#al_login_form div {
  margin-bottom: 10px;
}

.al_security_commands_box {
  margin-top: 20px;
}
.al_security_commands_box li {
  display: inline;
  padding: 0 6px;
  margin: 0;
}
