.ajax_loader {
  left: 0;
  display: none;
  position: absolute;
  background-image: url(images/common/ajax-loader.gif);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 500001;
}

.ajax_loader_bg {
  left: 0;
  display: none;
  position: absolute;
  background-image: url(images/common/bg-ajax-loader.png);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 500000;
}

.al_float_left {
  float: left;
}

.al_float_right {
  float: right;
}

#al_cms_contents {
  margin: 0 auto;
  margin-top: 43px;
}

.al_edit_on {
  border: 1px dotted red;
  min-height: 20px;
}

.al_highlight_content {
  background-color: #cccccc;
}

#al_toolbar {
  width: 100%;
  height: 36px;
  position: fixed;
  top: 0;
  left: 0;
  background: #333333;
  text-align: left;
  z-index: 300000;
  padding: 4px;
  border-bottom: 2px solid white;
  color: #cccccc;
  font: normal 14px/16px Arial, Verdana, Helvetica, sans-serif;
}
#al_toolbar li {
  display: inline;
  padding: 6px;
  margin: 0;
}
#al_toolbar li:hover {
  background-color: #4f4f4f;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
#al_toolbar a {
  color: white;
  text-decoration: none;
}
#al_toolbar a:hover {
  text-decoration: none;
}
#al_toolbar .al_boxes_margins {
  margin-right: 20px;
}
#al_toolbar .small_logo {
  padding: 5px 0;
}

#al_menu {
  padding: 8px;
}
#al_menu ul {
  padding: 0;
  margin: 0;
}

#al_navigator {
  padding: 5px;
}

.input {
  display: inline-block;
  height: 24px;
  padding: 2px;
  font-size: 13px;
  line-height: 18px;
  color: #929292;
  border: 1px solid #cccccc;
  background-color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

.select, .button {
  background-color: #efefef;
}

.button {
  color: #525252;
}

#al_panel {
  width: 100%;
  max-height: 560px;
  position: fixed;
  top: 43;
  left: 0;
  background: white;
  text-align: left;
  display: none;
  z-index: 40000;
}

#al_panel_body {
  border-bottom: 1px solid #525252;
}

#al_panel_contents {
  margin: 0 auto;
  width: 1000px;
  max-height: 550px;
  font: normal 14px/18px Arial, Verdana, Helvetica, sans-serif;
  color: #525252;
  margin-bottom: 10px;
}

#al_panel_contents h1 {
  margin-bottom: 6px;
  font: bold 24px/28px Arial, Verdana, Helvetica, sans-serif;
}

#al_panel_contents h2 {
  margin-bottom: 6px;
  font: bold 20px/24px Arial, Verdana, Helvetica, sans-serif;
}

#al_panel_contents h3 {
  margin-bottom: 6px;
  font: bold 16px/20px Arial, Verdana, Helvetica, sans-serif;
}

#al_panel_contents h4 {
  font: bold 14px/18px Arial, Verdana, Helvetica, sans-serif;
}

#al_panel_contents .panel_input {
  height: auto;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 2px;
  -moz-box-shadow: #999999 3px 3px 3px;
  -webkit-box-shadow: #999999 3px 3px 3px;
  -o-box-shadow: #999999 3px 3px 3px;
  box-shadow: #999999 3px 3px 3px;
}

#al_panel_contents p {
  margin-bottom: 6px;
  font: inherit;
}

#al_panel_contents .al_panel_note {
  font: italic normal 10px/12px Arial, Verdana, Helvetica, sans-serif;
}

#al_panel_contents td {
  vertical-align: top;
}

#al_panel_closer {
  width: 100%;
  height: 16px;
  background-color: #cccccc;
  padding: 2px 0 6px 0;
  font: bold 16px/20px Arial, Verdana, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  color: #333333;
  border-top: 1px solid white;
  border-bottom: 3px solid #525252;
}

#al_panel_header {
  width: 100%;
}

#al_sidebar_left {
  width: 250px;
  min-height: 400px;
  padding: 0 10px;
  float: left;
}

#al_sidebar_right a {
  text-decoration: none;
}

#al_sidebar_right .al_element_selector {
  font-weight: normal;
  color: #000099;
}

#al_sidebar_right .al_element_selected {
  font-weight: bold;
  color: #ff9900;
}

#al_sidebar_middle {
  width: 400px;
  min-height: 400px;
  overflow: auto;
  padding: 0 10px;
  float: left;
}

#al_sidebar_middle h3 {
  padding: 0;
  margin: 0;
  float: left;
}

#al_sidebar_middle .al_btn_add_content {
  float: right;
}

#al_sidebar_middle .al_contents_separator {
  text-align: right;
  border-bottom: 1px dotted #525252;
  margin-bottom: 6px;
}

#al_sidebar_middle .al_content_body {
  display: none;
}

#al_sidebar_middle .al_slot_name {
  cursor: pointer;
}

#al_sidebar_middle p {
  padding: 0 0 6px 0;
  margin: 0;
}

#al_sidebar_right {
  width: 250px;
  min-height: 400px;
  padding: 0 10px;
  float: right;
}

#al_instructions {
  font: normal 12px/14px Arial, Verdana, Helvetica, sans-serif;
  width: 100%;
  height: 400px;
  overflow: auto;
}

.al_panel_box {
  border: 1px solid #525252;
  -moz-box-shadow: #999999 3px 3px 3px;
  -webkit-box-shadow: #999999 3px 3px 3px;
  -o-box-shadow: #999999 3px 3px 3px;
  box-shadow: #999999 3px 3px 3px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  margin: 10px 0;
}

.al_panel_box h3 {
  border-bottom: 1px solid #525252;
  background-color: #afafaf;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -khtml-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  padding: 2px;
}

.al_panel_list {
  max-height: 304px;
  overflow: auto;
  padding: 2px;
  margin-bottom: 10px;
}

#al_select_languages_reminder {
  display: none;
  font-weight: bold;
  color: #990000;
}

#al_pages {
  overflow: auto;
}

#al_files_list {
  width: 530px;
  height: 284px;
  margin-bottom: 6px;
}

.al-items-list {
  border: 2px solid #cccccc;
  overflow: auto;
}
.al-items-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.al-items-list li {
  padding: 4px;
  border-bottom: 1px dotted #a5a5a5;
}
.al-items-list table {
  width: 100%;
}
.al-items-list td {
  padding: 6px;
}
.al-items-list .row {
  background-color: white;
}
.al-items-list .alternate-row {
  background-color: #f3f5f5;
}
.al-items-list .al-selected-item {
  background-color: #d5dbdb;
}

.ui-dialog {
  font: normal 12px/14px Arial, Verdana, Helvetica, sans-serif !important;
  z-index: 91000 !important;
  text-align: left !important;
}

.ui-widget-overlay {
  z-index: 90000 !important;
}

.editor-contents {
  width: 530px;
  height: 286px;
  margin-bottom: 16px;
}

.editor-inputs {
  width: 100%;
  height: 284px;
}

#al_themes {
  margin-top: 10px;
}

#al_themes .al_themes_table td {
  padding: 4px;
}

.al_security_form label {
  width: 300px;
}

.context-menu-item {
  min-width: 150px;
  padding: 2px 2px 2px 2px;
}
